* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .App {
    text-align: center;
    font-family: "Roboto", sans-serif;
    background-color: transparent;
    height: 50vh;
    color: #000;
  }
  .App-title {
    font-size: 50px;
    padding: 25px 0;
  }
  
  .Timers {
    display: flex;
    justify-content: center;
  }
  @media (max-width: 900px) {
    .Timers {
      flex-direction: column;
  
      align-items: center;
    }
  }
  @media (max-width: 900px) {
    .Stopwatch {
      margin-bottom: 5px;
    }
  }
  .Stopwatch {
    margin-left: 5px;
    margin-right: 0px;
    border-radius: 4px;
    padding: 5px;
    width: 170px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
 
  .Stopwatch-btns{
    width: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .Stopwatch-header {
    font-size: 40px;
    font-weight: bold;
  }
  
  button {
    background-color: transparent;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 10px 20px;
    color: #000;
    font-size: 16px;
    margin: 0 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #106ba3;
  }
  .Stopwatch button {
    padding: 5px;
    font-size: 16px;
  }
  .Stopwatch-display {
    padding: 5px 0;
    font-size: 16px;
    color: #000;
  }
  /*.Stopwatch-text {
  }*/
  .Countdown-display {
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .Countdown-display button {
    margin: 0 15px;
    border: solid 1px transparent;
    border-radius: 2px;
    padding: 4px 16px;
    color: #000;
  
    font-size: 16px;
  }
  .Countdown-display button:hover {
    background-color: #106ba3;
  }
  .Countdown-label {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .Countdown-time {
    font-size: 36px;
    margin: 5px 0;
  }

@media(max-width:600px){
  .Stopwatch{
    width: 150px;
    font-size: 16px;
    margin-right: 5px;
  }
} 

@media(max-width:480px){
  .Stopwatch{
    margin-left: 0;
    padding-left: 0;
    width: 265px;
  }
}



